/* ==================== Google Fonts =============== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
/* ================= Base ================== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* ====================== Main =================== */
.hero {
    width: 100%;
    min-height: 100vh;
    background: #000;
    color: #fff;
    position: relative;
    overflow: hidden;
    backdrop-filter: blur(50px);
}

.container {
    width: 800px;
    height: 180px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.clock {
    width: 100%;
    height: 100%;
    background: rgba(235, 0, 255, .11);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(40px);
}

.container::before{
    content: '';
    width: 180px;
    height: 180px;
    background: #f41b1b;
    border-radius: 5px;
    position: absolute;
    left: -23px;
    z-index: -1;
}

.container::after{
    content: '';
    width: 180px;
    height: 180px;
    background: #f41b1b;
    border-radius: 5px;
    position: absolute;
    right: -23px;
    bottom: 0;
    z-index: -1;
}

.clock span {
    font-size: 80px;
    width: 110px;
    display: inline-block;
    text-align: center;
    position: relative;
}

.clock span::after{
    font-size: 16px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translate(-50%);
}

#hrs::after {
    content: 'Hours';
}

#min::after {
    content: 'Mins';
}

#sec::after{
    content: 'Sec';
}