

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #013a33;
  font-family: "Roboto", sans-serif;
}

.container {
  padding: 25px;
  width: 350px;
  background: #212020;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 17px;
}

.emoji {
  text-align: center;
  font-size: 70px;
  margin-top: 5px;
  text-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
}

.joke {
  color: #fff;
  text-align: center;
  margin-top: 10px;
  font-size: 18px;
}

.btns {
  height: 95px;
  display: flex;
  align-items: center;
  justify-content: center;
  math-depth: 5px;
}

.btns div {
  height: 55px;
  width: 55px;
  background: #000;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  margin-left: 20px;
  cursor: pointer;
  margin-top: 10px;
  font-size: 18px;
  position: relative;
  left: -10px;
}

.btns div:hover {
  background: #025a50;
  color: #000;
  transition: all 0.3s ease;
}

.btns .copy span {
  position: absolute;
  color: #000;
  font-style: italic;
  font-size: 8px;
  display: none;
  transition: all 0.2s ease;
}

::selection {
  background: #026b5f;
  color: #000;
}
