@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #0d1117;
    color: #fff;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    padding: 30px 22px;
    width: 42rem;
}

.container h1 {
    margin-bottom: 2rem;
    text-align: center;
    font-weight: 500;
}

.searchBox {
    background-color: #0d1117;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid #8b949e72;
    border-radius: 6px;
}

.searchBox input {
    background-color: transparent;
    border: none;
    outline: none;
    width: 80%;
    color: #fff;
    font-size: 15px;
}

.searchBox button {
    background-color: #1f6feb;
    color: #fff;
    padding: 5px 10px;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    transition: all .3s ease;
}

.searchBox button:hover {
    background-color: #58a6ff;
}

.details {
    margin-top: 20px;
    background-color: #0d1117;
    padding: 20px 25px;
    border: 1px solid #8b949e72;
    border-radius: 6px;
    display: none;
}

.profile {
    display: flex;
}

.profile-image{
    height: 100px;
    width: 100px;
    margin-right: 10px;
    border-radius: 50%;
    overflow: hidden;
}

.profile-image img {
    width: 100%;
    height: 100%;
}

.profile-details {
    padding: 10px;
    width: 25rem;
}

.username {
    font-size: 13px;
    color: #58a6ff;
}

.bio {
    font-size: 14px;
    margin-top: 10px;
}

.stats {
    background-color: #161b22;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px 0;
    margin-top: 20px;
    text-align: center;
    border: 1px solid #8b949e72;
    border-radius: 6px;
}

.media {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.media p {
    width: 50%;
    display: flex;
    align-items: center;
    font-size: 13px;
}

