*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

body{
    background-color: #eaeaea;
    overflow: hidden;
}

.container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 1200px;
    height: 700px;
    background-color: #f5f5f5;
    box-shadow: 0 30px 50px #a9a8a8;
}

.item {
    width: 120px;
    height: 200px;
    background-position: 50% 50%;
    display: inline-block;
    transition: .8s;
    background-size: cover;
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translate(0, 50%);
    border-radius: 20px;
    box-shadow: 0 16px 45px #3f3e3e;
}

.item:nth-child(1),
.item:nth-child(2){
    left: 0;
    top: 0;
    transform: translate(0, 0);
    border-radius: 0;
    width: 100%;
    height: 100%;
    box-shadow: none;
}

.item:nth-child(3){
    left: 70%;
}

.item:nth-child(4){
    left: calc(70% + 140px);
}

.item:nth-child(5){
    left: calc(70% + 280px);
}

.item:nth-child(n + 6){
    left: calc(70% + 450px);
    opacity: 0;
}

.buttons {
    position: absolute;
    bottom: 30px;
    z-index: 999;
    text-align: center;
    width: 25%;
}

.buttons button {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    transition: .5s;
    cursor: pointer;
    font-size: 1.2rem;
    background-color: rgba(225, 225, 225, .1);
    border: 1px solid rgba(225, 225, 225, .1);
    backdrop-filter: blur(30px);
    color: rgba(225, 225, 225, .8);
}

#prev{
    position: relative;
    right: 5px;
}

.buttons button:hover{
    background-color: #fff;
    color: #3f3e3e;
}